@import "SourceCodePro";
@import "SourceSansPro";
@import "Share";

body { font-family: 'Source Sans Pro'; }
h1, h2, h3 {
  font-family: 'Share';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro'; }